[Unit]
Description=Access point and authentication server for Wi-Fi 6G and Ethernet
Documentation=man:hostapd(8)
After=network.target

[Service]
Type=forking
PIDFile=/run/hostapd3.pid
Restart=on-failure
RestartSec=2
Environment=DAEMON_CONF=/etc/hostapd/hostapd.conf
EnvironmentFile=-/etc/default/hostapd
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd3.pid $DAEMON3_OPTS ${DAEMON_CONF3}
StandardOutput=append:/var/log/hostapd3.log
StandardError=append:/var/log/hostapd3_error.log

[Install]
WantedBy=multi-user.target
