[Match]
Name=wlan0

#[Link]
# Override MAC address (spoof MAC address)
#MACAddress=08:22:33:44:55:66

[Network]
ConfigureWithoutCarrier=true

#DHCP=ipv4

#static setup
Address=192.168.20.19/24
#Gateway=192.168.0.10
#DNS=192.168.0.10

IPForward=yes

DHCPServer=yes
#IPv6SendRA=yes
#DHCPv6PrefixDelegation=yes

[DHCPServer]
PoolOffset=100
PoolSize=150

#[IPv6SendRA]
#Managed=true

#[IPv6Prefix]
#Prefix=fd00:B::/64
