#https://wiki.archlinux.org/title/IPv6_tunnel_broker_setup#systemd-networkd
[Match]

[NetDev]
Name=he-ipv6
Kind=sit
MTUBytes=1480

[Tunnel]
#Local=<local IPv4>
#Remote=<tunnel endpoint>
TTL=255
