[Match]
Name=eth0

#[Link]
# Override MAC address (spoof MAC address)
#MACAddress=08:22:33:44:55:66

[Network]
BindCarrier=eth0
#ConfigureWithoutCarrier=true

DHCP=ipv4

#static setup
#Address=192.168.0.19/24
#Gateway=192.168.0.10
#DNS=192.168.0.10

#VLAN=wan.110
#VLAN=wan.140

IPForward=yes
#needs iptables to be installed
#IPMasquerade=yes

#Tunnel=he-ipv6

#[Route]
#Gateway=192.168.0.10
#Destination=10.0.3.0/24
#GatewayOnLink=yes
