# .github/workflows/main.yml
name: UBIFS

on:
  workflow_dispatch:
    inputs:
      bpi-r4:
        type: boolean
      kernel:
        type: choice
        description: linux kernel
        options:
          - 6.18
          - 6.12
      variant:
        type: choice
        description: board variant
        options:
          - ''
          - bpi-r4-2g5
          - bpi-r4pro
          - bpi-r4lite
      bootdevice:
        type: choice
        description: Bootdevice
        options:
          - nand

jobs:
  nand-gdrive-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup env
        run: |
          echo "DT=$(date +'%Y-%m-%d_%H%M')" >> $GITHUB_ENV

      - name: Install depencies
        run: |
          sudo apt update
          sudo apt install python3 mtd-utils

      - name: Build R4 UBIFS Image
        if: ${{ inputs.bpi-r4 }}
        run: |
          echo -e "variant=${{ inputs.variant }}" > sourcefiles_bpi-r4.conf
          ./ubifs.sh bpi-r4 ${{ inputs.kernel }}

      - name: Upload to gdrive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.CREDENTIALS }}
          filename: "*_nand.img"
          folderId: ${{ secrets.FOLDERID }}
          overwrite: "true" # optional boolean
